			<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Main Menu</li>
						<li><a class="ajax-link" href="/"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<li><a class="ajax-link" href="/proxy/index"><i class="icon-edit"></i><span class="hidden-tablet"> 代理数据</span></a></li>
						<li><a class="ajax-link" href="/task/index"><i class="icon-th"></i><span class="hidden-tablet"> 任务抓取情况</span></a></li>
						<li><a class="ajax-link" href="/cas/index"><i class="icon-th"></i><span class="hidden-tablet"> 添加CAS抓取任务</span></a></li>
					</ul>
				</div>
			</div>
			<!-- left menu ends -->