
<div class="box span12">
	<form id="refreshsite" name="refreshsite" action="/cas/refresh" method="get">
		<input type="hidden" id="site_id" name="id" value="" />
	</form>
	<script type="text/javascript">
		function refreshSite(site_id){
			document.getElementById('site_id').value=site_id
			$.ajax({
				type:"get",
				url:"/cas/refresh",
				data:$("#refreshsite").serialize(),
				success:function(result){
					alert(result);
				}
			});
		}
	</script>
	<div class="box-header well" data-original-title>
		<h2>CAS抓取网站清单</h2>
		<div class="box-icon">
			<a href="#" class="btn btn-minimize btn-round"><i
				class="icon-chevron-up"></i></a>
		</div>
	</div>
	<div class="box-content">
		<table class="table table-bordered table-striped table-condensed">
			<thead>
				<tr>
					<th>名称</th>
					<th>URL地址</th>
					<th>抓取数量</th>
					<th>操作</th>
					<th>详细数据</th>
				</tr>
			</thead>
			<tbody>
				<% sites.forEach(function(site){ %>
				<tr>
					<td><%=site.name%></td>
					<td><%=site.url%></td>
					<td><%=site.num%></td>
					<td><button class="btn btn-small" type="button"
							onclick="refreshSite(<%=site.id%>)">
							<i class="icon-eye-open"></i>刷新CAS
						</button></td>
					<td><a href="/cas/detail?site_id=<%=site.id%>" target="_blank">详情</a></td>
				</tr>
				<%})%>
			</tbody>
		</table>
	</div>
</div>
