
<div class="box span12">
	<div class="box-header well" data-original-title>
		<h2>CAS数据清单</h2>
		<div class="box-icon">
			<a href="#" class="btn btn-minimize btn-round"><i
				class="icon-chevron-up"></i></a>
		</div>
	</div>
	<div class="box-content">
		<table class="table table-bordered table-striped table-condensed">
			<thead>
				<tr>
					<th>CAS号</th>
					<th>URL地址</th>
				</tr>
			</thead>
			<tbody>
				<% cass.forEach(function(cas){ %>
				<tr>
					<td><%=cas.cas%></td>
					<td><%=cas.url%></td>
				</tr>
				<%})%>
			</tbody>
		</table>
	</div>
</div>
